	.DivAllList{
		width: 80%;
		margin: auto;

	}
	.Li2st{
	 width:700px;
	 border:1px solid #882211;
	 padding: 4px;
	 margin:auto;
	 margin-top:2px;
	 cursor: pointer;
	 background: greenyellow;
	 font: helvetica;
	}
	.Li2st:hover
	{
		background-color: #ffcc00;
	}


.divTable{
	display: table;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px;
	border-radius: 10px;
	cursor: pointer;
}
.divTableRow {
	display: table-row;
}

.divTableHeading {
	background-color: #b9b9b9;
	display: table-header-group;
  border: 6px solid #de2c40;
}

.divTableCell {
	display: table-cell;
	padding: 3px 10px;
	color: #113322;
}

.divTableBody:hover{
	border: 5px;
	border-radius: 10px;
	border-color: #33ff22;
	background-color: #EEE;
	transition: .3s ease-out;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
	border: 1px solid #000;
}

input:hover{
	transition: .5s ease-out;

}
