@import url('https://fonts.googleapis.com/css?family=Jura|Lobster|Marck+Script|Marmelad');

body
{
	font-family: 'Lobster', cursive;
	margin: 1px auto;
}
ul{
	color: grey;
	display: inline;
	width: 100vh;
	position: relative;
	margin: 0 auto;
	padding: 20px;
	transition: .2s ease-out;
}

header.menu{
	height: 25vh;
	}

header.news{
	height: 9vh;
	}

footer{
	height: 4vh;
	padding: 3px;
	color: white;
	background-color: grey;
	margin: 5px 0 0 0;
}
article{
	display: block;
	height: 300px;
	background-color: white;
	border: 0;
	padding: 5px;
	margin: 2 2 1 auto;
}

article.big{
	display: block;
	height: 353px;
	background-color: white;
	border: 0;
	padding: 5px;
	margin: 2 2 1 auto;
}
article.map{
	display: block;
	height: 650px;
	background-color: white;
	border: 0;
	padding: 5px;
	margin: 2 2 1 auto;
}
a.top{
	background-image: linear-gradient(#FE5568 50%, #FE5568 50%), linear-gradient(silver 50%, silver 50%);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 0 3px, 100% 3px;
	color: #1E3A52;
	padding-bottom: 5px;
	transition: .4s ease-out;
	border-radius: 5px;
	text-decoration: none;
  	transition-delay: .0,7s;
	font-family: 'Marck Script', cursive;
	font-size: 20pt;
}
a.top:hover{
	background-size: 100% 3px, 0% 3px;
	border-radius: 10px;
}
a.top:active {
	color: #497DDD;
	border-bottom: 1px dashed;
}
	span
	{
		font-family: 'Jura', sans-serif;
		font-style: bold;
	}
	span.Date2
	{
		color: #11ff99;
	}
	span.Date1
	{
		color: #41d2aa;
		margin:2px 3px 2px 3px;
		float: left;
	}
	span.Value
	{
		color: #af1111;
		margin:2px 3px 2px 3px;
		float: right;
	}
	span.Value2
	{
		color: #af1111;
	}

	aside.maxPars
	{
		position: fixed;
		margin: 0px 1px 90% 84%;
		background-color: #f1ddaa;
		opacity: 0.75;
	}
	section.news
	{
		width: 65%;
		background-color:#31a29a;
		border:2px;
		margin: 0 auto;
		align-content: center;
		padding: 2px;
	}
