th {
  font-size: 16px;
  font-weight: normal;
  background: #b9c9fe;
  border-top: 5px solid #aabcfe;
  border-bottom: 2px solid #fff;
  border-radius: 5px;
  color: #039;
  padding: 8px;
}
td {
  background: #e8edff;
  border-bottom: 2px solid #fff;
  color: #669;
  border-radius: 5px;
  border-top: 2px solid transparent;
  padding: 10px;
}
tr:hover td {
  background-image: linear-gradient(#ccddff 90%, #ccddff 10%), linear-gradient(silver 50%, silver 50%);
  transition: .5s ease-out;
}


